{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, cupiditate! Velit fuga facere porro temporibus, ipsam fugit laudantium amet soluta voluptates eos quisquam at culpa, incidunt modi nulla recusandae dolorem.</p>
    </div>
    <div class="col-4">
        <img src="../assets/img/imagen.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}